extends layout

block content
    h1.
        Document List
                
    // Wrapper
    #wrapper
    
        // ADD USER
        h2 Get Document By  Date
        #getDocByDate
            fieldset
                input#inputDate(type='date', placeholder='Document Date')
                br
                button#btnGetDocByDate Get Document
        // /ADD USER
        
        br
        br
        br
        
        // Document list
        #documentbydate
            table
                thead
                    th URL
                    th Date
                    th Description
                tbody
        // /USER LIST
        br
        br
        br
        // Document list
        #documentlist
            table
                thead
                    th URL
                    th Date
                    th Description
                tbody
        // /USER LIST       

    // /WRAPPER