extends layout

block content
    h1.
        Document List
                
    // Wrapper
    #wrapper

        // Document list
        #documentlist
            table
                thead
                    th URL
                    th Date
                    th Description
                tbody
        // /USER LIST

    // /WRAPPER