doctype html
html
  head
    title
      | At the National Conventions, the Words They Used - Interactive Feature - NYTimes.com
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='robots', content='noarchive')
    meta(name='hdl', content='At the National Conventions, the Words They Used')
    meta(name='lp', content='A comparison of how often speakers at the two presidential nominating conventions used different words and phrases, based on an analysis of transcripts from the Federal News Service.')
    meta(name='dat', content='September 7, 2012')
    meta(name='DISPLAYDATE', content='September 7, 2012')
    meta(name='pdate', content='20120907')
    meta(name='col', content='')
    meta(name='dsk', content='U.S. / Politics')
    meta(name='cre', content='By MIKE BOSTOCK, SHAN CARTER and MATTHEW ERICSON')
    meta(name='tom', content='interactive_feature')
    meta(name='display-text', content='Interactive Feature')
    meta(name='display-name', content='interactive')
    meta(name='ttl', content='')
    meta(name='des', content='Presidential Election of 2012;Republican National Convention;Democratic National Convention')
    meta(name='per', content='')
    meta(name='org', content='Democratic Party;Republican Party')
    meta(name='geo', content='')
    meta(name='misspelling', content='')
    meta(name='keywords', content='Presidential Election of 2012,Republican National Convention,Democratic National Convention,Democratic Party,Republican Party')
    meta(name='description', content='A comparison of how often speakers at the two presidential nominating conventions used different words and phrases, based on an analysis of transcripts from the Federal News Service.')
    meta(name='MEDIA_TEMPLATE_VERSION', content='200')
    meta(name='asset_id', content='100000001765793')
    meta(name='CG', content='us')
    meta(name='SCG', content='politics')
    meta(name='PT', content='Multimedia')
    meta(name='PST', content='Interactive')
    meta(property='og:type', content='article')
    meta(property='og:title', content='At the National Conventions, the Words They Used')
    link(rel='stylesheet', type='text/css', href='stylesheets/the_words_they_used/index.css')
  body#interactiveABC.interactiveABC
  
    a(href='http://www.nytimes.com/interactive/2012/09/06/us/politics/convention-word-counts.html?_r=0') At the National Conventions, the Words They Used [New York Times, 6-9-2012]
    br
    br
    br
    #interactiveFreeFormMain
      meta(name='viewport', content='width=990')
      form#g-form
        input(type='text', name='search', placeholder='Add word or phrase', tabindex='1')
        button +
      #g-chart
        .g-legend(style='position:absolute;width:970px;')
          .g-democrat.g-arrow
            | Words favored
            br
            | by Democrats
          .g-republican.g-arrow
            | Words favored
            br
            | by Republicans
          .g-overview
            | Number of mentions per 25,000 spoken words
            br
            | by 
            span.g-swatch.g-democrat
            | Democrats and 
            span.g-swatch.g-republican
            | Republicans
        .g-notes
          .g-note(style='left:20px;')
            b Auto
            | Democrats credited President Obama with the recovery of the auto industry after the 2009 bailout, while Republicans left the topic unmentioned.
          .g-note(style='left:252px;')
            b Women
            | Democrats used the word much more frequently, primarily in reference to women's health and equal pay.
          .g-note(style='left:505px;')
            b Business
            | Republicans were more likely to talk about businesses, emphasizing Mr. Romney's private-sector experience and plans to improve the economy.
          .g-note(style='left:737px;')
            b Unemployment
            | Many Republican speakers brought up the still-high unemployment rate and the number of Americans who remain jobless, while Democrats largely avoided the topic.
        .g-labels
        svg.g-nodes(width='970', height='540')
          path#g-arrow-auto.g-note-arrow(d='M58,425v-160')
          path#g-arrow-women.g-note-arrow(d='M308,425v-100')
          path#g-arrow-business.g-note-arrow(d='M630,425v-45l60,-60')
          path#g-arrow-unemployment.g-note-arrow(d='M885,425v-180')
      p
        .g-body
          .g-mentions.g-democrat
            h3.g-head.g-hasnt-topic
              span.g-isnt-topic
                br
                | Excerpts from Democrats
              span.g-is-topic
                span(style='padding-left: 0.76em;') Democrats
                |  mentioned 
                a …
                br
                span.g-count
                |  times per 25,000 words
            .g-divider
            .g-truncated Due to a large number of mentions, only a sampling of excerpts are shown.
          .g-mentions.g-republican
            h3.g-head.g-hasnt-topic
              span.g-isnt-topic
                br
                | Excerpts from Republicans
              span.g-is-topic
                | Republicans mentioned 
                a …
                br
                span.g-count
                |  times per 25,000 words
            .g-divider
            .g-truncated Due to a large number of mentions, only a sampling of excerpts are shown.
          br(clear='all')
          br
        script(src='javascripts/the_words_they_used/d3.v2.min.js')
        script(src='javascripts/the_words_they_used/index.js')
        // pipeline: ac823b240e99920e91945dbec49f35b268c09c38
    // close main free form
